.icon {
    -webkit-mask-size: cover;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: #828FA3;
}

.board {
    mask-image: url("../icons/board.svg");
    -webkit-mask-image: url("../icons/board.svg");
}

.board--active {
    mask-image: url("../icons/board-active.svg");
    -webkit-mask-image: url("../icons/board-active.svg");
    background-color: white !important;

}

.board--purple {
    mask-image: url("../icons/board-purple.svg");
    -webkit-mask-image: url("../icons/board-purple.svg");
    background-color: #635FC7 !important;
}

.circle {
    mask-image: url("../icons/circle.svg");
    -webkit-mask-image: url("../icons/circle.svg");
    background-color: currentColor;
}

.drop--down {
    mask-image: url("../icons/drop-down.svg");
    -webkit-mask-image: url("../icons/drop-down.svg");
    background-color: #635FC7 !important;
}

.drop--up {
    mask-image: url("../icons/drop-up.svg");
    -webkit-mask-image: url("../icons/drop-up.svg");
    background-color: #635FC7 !important;
}

.eye {
    mask-image: url("../icons/eye.svg");
    -webkit-mask-image: url("../icons/eye.svg");
}

.menu--dots {
    mask-image: url("../icons/menu-dots.svg");
    -webkit-mask-image: url("../icons/menu-dots.svg");
}

.moon {
    mask-image: url("../icons/moon.svg");
    -webkit-mask-image: url("../icons/moon.svg");
}

.sun {
    mask-image: url("../icons/sun.svg");
    -webkit-mask-image: url("../icons/sun.svg");
}

.checked {
    mask-image: url("../icons/checked.svg");
    -webkit-mask-image: url("../icons/checked.svg");
    background: var(--white, #FFF);
}

.checked-dark {
    mask-image: url("../icons/checked-dark.svg");
    -webkit-mask-image: url("../icons/checked-dark.svg");
    background: var(--dark-grey, #2B2C37);
}

.close {
    mask-image: url("../icons/close.svg");
    -webkit-mask-image: url("../icons/close.svg");
    background: var(--medium-grey, #828FA3);
}

